<section>
  <div class="text">
    <%= sponsor.text %>
  </div>
  <div class="logo">
    <img src="<%= sponsor.logo.src %>" />
  </div>
  <div class="badge">
    <img src="<%= sponsor.badge.src %>" />
  </div>
</section>
